*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.body{
    background-image: linear-gradient( 180deg,  rgba(0,0,0,1) 59.4%, rgba(216,116,9,1) 117.8% );
    /* background-image: linear-gradient( 180deg,  rgba(0,0,0,1) 41.7%, rgba(209,110,13,1) 64.9% ); */
   /*  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
}
.logo-empresa{
    width: 14rem;
    height: 6rem;
    
}
header{
    background-color: rgb(232, 110, 16) !important;
}
.navbar{
    background-color: rgb(232, 110, 16) !important; 
}
.color{
    color: white;
}
.img-fluid{
    height: 90vh;
    width: 100vw;
}
.ancla{
    font-size: 40px;
    border-radius: 3px;
    color: white !important;
}
.p-tamaño{
    font-size: 25px;
    
}
.nav-link{
    font-size: 20px !important;
    transition: 2s;
}
.nav-link:hover{
    overflow: hidden;
    color: white !important;
    padding: 10px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}
.navbar-brand{
    font-size: 20px !important;
    transition: 2s;
}
.navbar-brand:hover{
    overflow: hidden;
    color: white !important;
    transition: 1.5s;
    padding: 10px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}
.img-fluid{
    height: 90vh !important
}
.formu{
    display: flex;
    height: 6vh;
    width: 25vw;
    margin-top: 3rem;
    
}
.form-check1{
    height: 20vh;
    width: 70vw;
    align-items: center;
}


.card-img-top{
    object-fit: contain !important;
    object-position: center;
}
footer{
  /*   display: flex; */
    background-color: rgba(255, 115, 8, 0.996);
    height: 10vh;
  /*   align-items: center;
    justify-content: space-around */

}
.redes{
    gap: 30px
    /* width: 20rem; */
    

}
.letra{
    display: flex;
    height: 5vh;
    font-size: 36px;
    
}
.numero{
    font-size: 40px;
    color: rgb(244, 242, 239)!important;
}
.icon{
    font-size: 3rem;
}
.icon2{
    font-size: 3rem;
}
.icon3{
    font-size: 3rem;
}
.card-body{
    text-align: center;
    height: 17vh;
    background-color: aliceblue;
}
.card-body2{
    text-align: center;
    height: 8vh;
    background-color: aliceblue;
}

/* PAST EVENTS */

.caja{
    width: 50%;
    height: 80vh;
}


.start{
    width: 13vw;
    height: 25vh;
}
/* PAGINA DE CONTACTO */
.form-txt{
    width: 20vw;
    height: 20vh;
}
.form2{
    text-align: center;
    width: 20vw;
    height: 56vh;
}
.form-check-input2{
    width: 19em;
    height: 7em;
}
.sectiondelstats{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


/* CSS DE LA TABLA */

table{
    background-color: #fb7d00;
    color: rgb(0, 0, 0) !important;
    width: 100vw;
    height: 110vh;
    margin-top: 1rem
    
    ;
}
tr:hover td{
    height: 1vh !important;
	background-color: #000000;
	color:rgb(241, 236, 236);
    transition: 3s;
    transform:rotateX(360deg)
}
.cabeza1{
    height: 1vh !important;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 4px 4px 4px rgba(251, 206, 9, 0.966);
    height: 6vh;
    border-bottom: 4px solid rgba(251, 206, 9, 0.966);
}
.tr2, td{
    height: 1vh !important;
    padding: 15px;
    border: 2px solid rgb(16, 2, 138);
    font-size: 20px;
    transition: 1s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.cards{
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.801);
    transition: all 0.25s;
    border-radius: 8px;
    
    
}
.list-group-item{
    background-color: #edc69f;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cards:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(232, 223, 223, 0.2);
}
.card-link{
    background-color: #000000;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 6px;
    font-size: 20px;
}
.card-body1, .card-body2, .card-body{
    
    background-color: #fb7d00;
  font-family: 'Signika Negative', sans-serif;
  
}
.card-title{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-text{
    font-size: 15px;
}
.checkimput{
    width: 100vw;
    display: flex;
}
.subtitle3{
    color: rgb(255, 255, 255);
    font-size: 40px;
    transition: 2s;
    transition: all 2s;
}
.body-details{
    background-color: #010008;
}
tbody, td, tfoot, th, thead, tr {
    border-color: solid color #800080 !important;
    border-style: solid color #800080 !important;
    border-width: 1;
    width: 50vw;
    
}
.sectiondelstats{
    height: 115vh;
}
/* MEDIAQUERIES */
 @media only screen and (min-width:320px) and (max-width:767px) {
   article{
    justify-content: center;
   }
   .img-fluid{
    height: 90vh !important;
    object-fit: cover;
   }
   .form-check1{
    text-align: center;
    width: 100vw;
    height: 25vh;
   }
   footer{
    height: 30vh !important;
    justify-content: space-around;
   }
   .checkimput{
    display: block;
    
    
   }
   .formu{
    display: flex;
    margin-top: 0px;
    width: 100vw;
    justify-content: center !important;
   } 
   .card-body2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh !important;
   }
   .card-body1{
    text-align: center;
    height: 20vh !important;
   }
   footer{
    flex-direction: column;
    height: 20vh;
   }
   .form2{
    width: 70vw;
   }
   .sectiondelstats{
    text-align: center;
    height: 115vh;
    width: 100vw !important;
   }
   .img-2{
    object-fit: cover;
    object-position: center;
    height: 27vh !important; 
   }
   table{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70vw ;
    height: 10vh;
   }
   td{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 5vh !important;
   }
   
   }
   .tr2{
    height: 5vh !important;
   }
   .divcontact{
    justify-content: center;
    align-items: center;
    width: 100vw;
   }
   th{
    height: 5vh;
    width: 100vw;
   }
   img{
    height: 30vh !important;
   }
   tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    width: 50vw;
}
/* MEDIAQUERIES DE 768 HASTA 1023px */

@media only screen and (min-width:768px) and (max-width:1023px) {
    img{
        height: 25vh;
    }
    .d-flex{
        justify-content: center;
        margin-bottom: 0.4rem
    }
    .card-body1{
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    .card-body2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 7vh;
    }
    .contenedor-article2{
        width: 90vw;
        display: flex !important;
        align-items: center;
        justify-content: center !important;
        justify-content: space-between !important;
        justify-content: center !important;
    }
    .divcontact{
        justify-content: center;
        align-items: center;
        width: 100vw;
       }
}
@media only screen and (min-width:1024px) and (max-width:1920px) {
    img{
        height: 25vh;
    }
    .card-body1{
        
        
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 16vh;
    }
    .card-body2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 8vh;
        
        
    }
    .d-flex{
        justify-content: center;
        margin-bottom: 0.4rem;
    }
    footer{
        height: 12vh;
        justify-content: space-around;
    }
    .redes{
        justify-content: space-around;
    }
    .contenedor-article2{
        width: 90vw;
        display: flex !important;
        align-items: center;
        justify-content: center !important;
        justify-content: space-between !important;
        justify-content: center !important;
    }
    .divcontact{
        justify-content: center;
        align-items: center;
        width: 100vw;
       }
    
}